.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #c2185b;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* .hidden{
  display: none;
} */

.spacer {
  flex: auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  padding: 16px;
}

mat-toolbar a:hover {
  background-color: #c4366f;
}